<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tabela.css') }}">
    <title>Tabela Zipfa</title>
</head>
<body>
    <header>
        <h1>Tabela Zipfa</h1>
    </header>
    <div class="container">
        <table>
            <thead>
                <tr>
                    <th>Numer</th>
                    <th>Słowo</th>
                    <th>Ranga</th>
                    <th>Częstotliwość</th>
                    <th>Iloczyn Zipfa</th>
                </tr>
            </thead>
            <tbody>
                {% for wiersz in tabela %}
                <tr>
                    <td>{{ wiersz.numer }}</td>
                    <td>{{ wiersz.slowo }}</td>
                    <td>{{ wiersz.ranga }}</td>
                    <td>{{ wiersz.czestotliwosc }}</td>
                    <td>{{ wiersz.iloczyn_zipfa }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="/">Wróć do strony głównej</a>
    </div>
</body>
</html>
