<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Witaj w Aplikacji Analizy Tekstu</title>
</head>
<body>
    <header>
        <h1>Witaj w Aplikacji Analizy Tekstu</h1>
    </header>
    <div class="container">
        <h2>Wybierz jedną z opcji:</h2>
        <ul>
            <li><a href="/zlicz_slowa">Zlicz słowa</a></li>
            <li><a href="/zlicz_unikalne_slowa">Zlicz unikalne słowa</a></li>
            <li><a href="/tabela_zipfa">Tabela Zipfa</a></li>
            <li><a href="/rozumienie_tekstu">Rozumienie tekstu</a></li>
            <li><a href="/graf_polaczen">Graf połączeń wyrazowych</a></li>
        </ul>
    </div>
    <footer>
        <p>&copy; 2024 Twoja Aplikacja</p>
    </footer>
</body>
</html>
